* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  /* background: #1c1a19; */
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  font-family: var(--font-latio);
}

.desktop {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

section {
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

nav,
footer,
#programs,
#speakers,
#partners #intro .greeting {
  padding-left: var(--m-lr-padding);
  padding-right: var(--m-lr-padding);
}

section[hidden] {
  display: none;
}

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
  font-size: 24px;
  top: 0;
  left: 0;
  color: #1c1a19;
  align-items: center;
  background-color: transparent;

  /* background-color: #fff; */
}

#nav-mobile {
  min-height: 100vh;
  padding: 50px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-f);
}

#nav-mobile .menu-left {
  width: 100%;
  padding: 20px;
}

#nav-mobile ul {
  padding-top: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

a {
  font-style: normal;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  font-family: var(--font-latio);

  /* font-weight: 600; */

  /* font-size: inherit; */

  /* line-height: 20px; */
  display: flex;
  align-items: center;
  text-align: center;
  color: inherit;
}

.f-bigger {
  font-size: 30px;
}

.f-big {
  font-size: 28px;
}

.bold {
  font-weight: 600;
}

.m-t-spacing {
  margin-top: var(--margin-spacing);
}

.mlr-main {
  margin-left: var(--m-lr-padding);
  margin-right: var(--m-lr-padding);
}

#intro {
  min-height: 100vh;
  padding: 0;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(229, 229, 229);
}

#about-intro {
  min-height: calc(100vh - var(--nav-h-m));
  margin-top: var(--nav-h-m);
  padding: 70px var(--m-lr-padding);
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--color-4);
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  background: url(/images/bk.jpg) 0 0 / cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro span:first-child {
  flex: 1;
  font-size: 32px;
  display: flex;
  align-items: flex-end;
  padding: 0 var(--m-lr-padding);
  padding-top: 80px;
  background-color: var(--color-4);
  background-image: url(/images/conference.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}

#intro span:last-child {
  flex: 1;
  align-self: baseline;
}

hgroup {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

hgroup .dashed {
  display: inline-block;
  height: 2px;
  margin: auto;
  width: 40px;
  background-color: var(--color-1);
}

#programs,
#speakers,
#partners,
footer,
#program-logo,
#past-event {
  display: flex;
  flex-direction: column;
  padding-top: var(--pad-y-m);
  padding-bottom: var(--pad-y-m);
  align-items: center;
}

#programs,
#partners {
  background-color: #272a31;
}

#programs h2,
#partners h2 {
  color: var(--color-2);
}

#programs h2::after {
  height: 2px;
  background-color: #fff;
}

.dark-bkg {
  background-color: var(--color-3);
  color: var(--color-2);
}

#programs {
  color: var(--color-2);
}

#programs-list {
  flex-direction: column;

  /* margin-top: 50px; */
  gap: 15px;
}

#programs-list .prog-item {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 12px 15px;
  background: color(var(var(--color-3)), opacity(0.8));
  background-color: rgba(55, 55, 55, 0.5);
  font-size: 20px;
}

.prog-item > div {
  gap: 15px;
}

.prog-item > div i {
  color: var(--color-2);
}

#programs-list .prog-item span {
  flex: 1;
  color: var(--color-1);
  font-weight: 600;
  font-size: 20px;
}

#programs a {
  margin-top: 50px;
  text-decoration: underline;
  color: inherit;
}

#speakers-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.speaker-item,
.speaker-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.speaker-info::after {
  background-color: #191919;
  content: "";
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: transform 0.15s, opacity 0.15s;
}

.speaker-item {
  gap: 30px;
}

.speaker-item .speaker-img {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
}

.speaker-item .dashed {
  width: 50px;
  border-bottom: 1px solid;
}

#partners-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.t-center {
  text-align: center;
}

footer,
#footer-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#program-logo {
  border-bottom: 1px solid var(--color-2);
}

#past-events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.past-event-item {
  position: relative;
  flex: 1;
  width: 100%;
  height: 200px;
}

footer img {
  max-width: 100%;
}

.past-event-item img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#partners img {
  height: 40px;
  scale: 1;
}

.past-event-item .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.past-event-item p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

#intro p,
#about-intro p {
  margin-left: var(--m-lr-padding);
  margin-right: var(--m-lr-padding);
  padding: 20px;
  background-color: var(--color-4);
  border: 1px solid var(--color-2);
  border-radius: 2px;
}

#about-intro p {
  background-color: #fff;
}

@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    width: 100%;
    display: flex;
  }

  nav,
  footer,
  #programs,
  #speakers,
  #partners #intro .greeting {
    padding-left: var(--d-lr-padding);
    padding-right: var(--d-lr-padding);
  }

  .mlr-main {
    margin-left: var(--d-lr-padding);
    margin-right: var(--d-lr-padding);
  }

  #intro p,
  #about-intro p {
    margin-left: var(--d-lr-padding);
    margin-right: var(--d-lr-padding);
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid var(--color-f);
    border-radius: 2px;
  }

  nav {
    background-color: #fff;
  }

  .menu-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .menu-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    list-style: none;
    display: flex;
    max-width: 800px;
    flex-direction: row;
    flex: 2;
    gap: 40px;
    justify-content: space-between;
  }

  #intro span:first-child {
    flex: 1;
    font-size: 32px;
    padding: 0 var(--d-lr-padding);
    padding-top: 80px;
  }

  footer {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  footer img,
  footer div {
    flex: 1;
  }
}

:root {
  --m-lr-padding: 20px;
  --d-lr-padding: 14%;
  --font-latio: "latio", sans-serif;
  --nav-h-m: 60px;
  --nav-h-d: 70px;
  --pad-y-m: 70px;
  --color-1: #ec5242;
  --color-2: #d3d3d3;
  --color-3: #272a31;
  --color-4: rgb(229, 229, 229);
  --color-f: #fff;
  --margin-spacing: 50px;
}
